@model dynamic

@{
    ViewBag.Title = "Search";
}

<h3>@ViewBag.Title</h3>

<div>
    @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("search")
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </div>

    }
</div>

@Html.Partial("Search")