@model IEnumerable<Digipost.Api.Client.Domain.Search.SearchDetails>

@{
    ViewBag.Title = "Search";
}

<h3>@ViewBag.Title</h3>


@if (Model != null)
{

    foreach (var person in Model)
    {
        <div>

            @Html.Label(person.FirstName)

            @Html.Label(person.LastName)
        </div>

    }
}

